/apilogin.py
/dblogin.py
/DBsetup.ipynb
/data
/wapilogin.py
/wstest.py
/wdata.json
/wdata.xml
/dbtest.py
/__pycache__/
/DB_Backup
/.ipynb_checkpoints
/merged.csv
/DB_Model.ipynb
/pickle_jar
/model_test.py
/.DS_Store
