body {
    background-color: #fdf5bf;
    color: #0a100d;
}

#main_div {
    display: flex;
    height: 97vh;
}

/*left side styling start*/
#map_and_graphs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 65%;
    max-height: 95vh;
    order: 0;
    margin-right: 0.5rem;
}


#map {
    flex: 1;
}

#graphs {
    display: flex;
    flex-direction: row;
    height: 0;
}

/*chart styling start*/
canvas {
    display: inline-block;
    box-sizing: border-box;
}
#hourlyChartContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

#hourlyChart {
    flex: 1;
    height: 0;
}
/*chart styling end*/

/*day button styling start*/
#dayButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

#dayButtons button {
    font-size: 0.7rem;
    height: 1rem;
}

#button-id {
    width : 50px;
    height: 20px;
    background-color: black;
    color: white;
}
/*button styling end*/
/*left side styling end*/

/*right side styling start*/
#info_panel {
    flex: 1;
    min-width: 35%;
    display: flex;
    flex-direction: column;
    order: 1;
    margin-left: 0.5rem;
}

#toggle_buttons {
    align-self: flex-start;
    margin-bottom: 0.5rem;
}


/*weather styling start*/
#weather_and_input {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 0.5rem;
    width: auto;
}

#weather_help_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


#weather_container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    width: auto;
}

.heading {
    font-size: 1.3em;
    background-color: #71A9F7;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.2rem;
}

.subheading {
    background-color: #71A9F7;
    color: white;
    width: inherit;
    text-align: center;
    margin: 0;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
}

#weather {
    display: inline-flex;
    flex-direction: row;
    border-radius: 0 0 3px 3px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
    width: auto;
    background-color: white;
    border: 1px solid black;
    padding: 0.1rem;
}

#weather_icon {
    height: 10vh;
    width: auto;
}

#weather_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
}
/*weather styling end*/

/*help styling start*/
#help_overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(231, 229, 229, 0.9);
    z-index: 2;
    max-width: 768px;
    transition: all 0.5s ease;
    transform: translateX(100%);
}

#help_overlay.overlay_visible {
  transform: translateX(0%);
}

#help_content {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  background-color: rgba(231, 229, 229, 0.9);
  padding: 1rem;
  border-radius: 3px;
  overflow-y: auto;
}

.overlay

.overlay_hidden {
  display: none;
}
/*help styling end*/

#user_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 3px;
}

#input_title {
    border:none;
    border-bottom: 1px solid black;
    margin-bottom: 0.5rem;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
}

#time {
    margin-bottom: 0.5rem;
    padding-left: 0.2rem;
}

#location {
    margin-bottom: 0.5rem;
    width: 100%;
    padding-left: 0.2rem;
}

#autocomplete_search {
    flex: 1;
    margin-right: 20px;
    width: calc(100% - 220px);
}

#travel {
    padding-left: 0.2rem;
}

#travel select {
    margin-bottom: 0.5rem;
}

#stations_container {
    flex: 0 1 auto;
    overflow-y: auto;
    font-size: 0.8rem;
}

/*table styling start*/
.table-wrapper {
    overflow: auto;
    max-height: 95%;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tbody {
    background-color: white;
}

td, th {
    padding: 0.5em;
    text-align: center;
}

th {
    background-color: #71A9F7;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 1px 0 black;
}

th[sort-index]:hover {
    cursor: pointer;
}

.highlighted-row {
  background-color: rgba(231, 229, 229, 0.9);
}
/*table styling end*/
/*right side styling end*/

@media (max-width: 900px) {
    #main_div {
        flex-direction: column;
        height: auto;
    }

    #map_and_graphs {
        height: auto;
        order: 2;
        width: 100%;
    }

    #map {
        flex: none;
        height: 300px;
        margin-top: 1rem;
    }

    #graphs {
        flex-direction: column;
        height: auto;
    }

    #hourlyChartContainer {
        height: auto;
    }

    #info_panel {
        flex: 1;
        min-width: 35%;
        display: flex;
        flex-direction: column;
        order: 1;
        margin-left: 0.5rem;
    }

    #weather_and_input {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }



    #stations_container {
        height: auto;
        max-height: none;
        overflow-y: visible;
    }
}

/*stations popup styling start*/
.info-window {
    background-color: #fdf5bf;
    color: #292F36;
    padding: 10px;
    width: 200px;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.info-window h3 {
    font-size: 16px;
    margin-top: 0;
}

.info-window p {
    margin-bottom: 0;
}

.info-window .status {
    font-weight: bold;
}

.info-window .bikes {
    color: #ffd700;
}

.info-window .stands {
    color: #c0c0c0;
}

.hidden-marker {
    display: none;
}

#header {
    text-align: center;
    background-color: #13917a;
    padding: 10px;
}

#header h2 {
    color: white;
    font-size: 2em;
    margin: 0;
}

#header p {
    color: white;
    font-size: 1.2em;
    margin: 0;
    margin-top: 10px;
}

.loading {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
}

.loading_hidden {
    display: none;
    animation: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
/*stations popup styling end*/

button {
    cursor: pointer;
    font-size: 10px;
    line-height: 1;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    white-space: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: black;
    background-color: #71a9f7;
    height: 48px;
    min-width: 30px;
    border-radius: 20px;
    margin-bottom: 0.1rem;
}

button:hover {
    transform: scale(1.04);
    background-color: #149911;
}
.primary {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 0.7rem;
    line-height: 1;
    border-radius: 40px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    min-width: 60px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #71a9f7;
    height: 2rem;
}

.primary:hover {
    transform: scale(1.04);
    background-color: #149911;
}

.secondary {
    background-color: #292F36;
    color: white;
    font-size: 1rem;
    padding: .5em .5em;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    height: 2.5rem;
}
.secondary:hover {
    transform: scale(1.04);
    background-color: #149911;
}
.stations-table {
    overflow-y: auto;
    max-height: calc(100% - 4rem);
}