#main_div {
  display: flex;
}
body {
  background-color: black;
  color: white;
}

#map {
  height: 90vh;
  width: 70%;

}

#weather {
  width: 40%;
}


#button-id {
  width : 50px;
  height: 20px;
  background-color: black;
  color: white;

}

/* Popup styling */
.info-window {
  background-color: #1d1d1d;
  color: #fff;
  padding: 10px;
  width: 200px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.info-window h3 {
  font-size: 16px;
  margin-top: 0;
}

.info-window p {
  margin-bottom: 0;
}

.info-window .status {
  font-weight: bold;
}

.info-window .bikes {
  color: #ffd700;
}

.info-window .stands {
  color: #c0c0c0;
}

.hidden-marker {
  display: none;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
  border: 1px solid black;
  color: black;
  background-color: white;
}
td, th {
  padding: 0.5em;
  text-align: center;
  border: 1px solid black;
}

th {
  background-color: #b8860b;
  color: white;
}

#weather_key {
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 1em;
  margin-bottom: 1em;
}

#header {
  text-align: center;
  background-color: black;
  padding: 10px;
}

#header h2 {
  color: white;
  font-size: 2em;
  margin: 0;
}

#header p {
  color: white;
  font-size: 1.2em;
  margin: 0;
  margin-top: 10px;
}
