#main_div {
  display: flex;
}
body {
  background-color: #13917a;
  color: white;
}

#map_and_graphs {
  height: 95vh;
  width: 60%;
  display: flex;
  flex-direction: column;
}

#map {
  height: 95vh;
  width:100%;
}

#graphs {
  width: 100%;
  display: flex;
  position: relative;
  overflow: auto;
  background-color: white;
  color: black;
  height: 0vh
}

canvas {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}

#hourlyChartContainer {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  width: 50%;
  height: 100%;
}

#dayButtons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 50%;
  padding: 10px;
}

#weather {
  width: 40%;
}


#button-id {
  width : 50px;
  height: 20px;
  background-color: black;
  color: white;

}

/* Popup styling */
.info-window {
  background-color: #1d1d1d;
  color: #fff;
  padding: 10px;
  width: 200px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.info-window h3 {
  font-size: 16px;
  margin-top: 0;
}

.info-window p {
  margin-bottom: 0;
}

.info-window .status {
  font-weight: bold;
}

.info-window .bikes {
  color: #ffd700;
}

.info-window .stands {
  color: #c0c0c0;
}

.hidden-marker {
  display: none;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
  border: 1px solid black;
  color: black;
  background-color: white;
}
td, th {
  padding: 0.5em;
  text-align: center;
  border: 1px solid black;
}

th {
  background-color: #13917a;
  color: white;
}

th[sort-index]:hover {
    cursor: pointer;
}

#weather_key {
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 1em;
  margin-bottom: 1em;
}

#header {
  text-align: center;
  background-color: #13917a;
  padding: 10px;
}

#header h2 {
  color: white;
  font-size: 2em;
  margin: 0;
}

#header p {
  color: white;
  font-size: 1.2em;
  margin: 0;
  margin-top: 10px;
}

#weather_cur {
  background-color: #13917a;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
}
#travel {
  margin-bottom: 20px; 
}

.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
}

.loading_hidden {
  display: none;
  animation: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

